<tr key="{{id}}">
  <td><a href="#view-switch?id={{id}}">{{Nombre}}</a></td>
  <td>{{author_id}} ({{user.currentUser}})</td>
  <td>

    {{#if_eq user.currentUser author_id}}

      <button class="remove-button" item="{{publicid}}{{privateid}}">{{i18n 'remove'}}</button>
      <button class="edit-button" item="{{publicid}}{{privateid}}">{{i18n 'edit'}}</button>
    {{/if_eq}}
  </td>
</tr>

<!--  Handelbars Subscription
<div class="switch-item-container border p-2 mb-3 bg-light shadow-2 rounded subscription-item-container" data-state="apagado">
                                    <div class="row">
                                        <div class="col-6">

                                            <h4 class="text-dark"> {{nombre}} </h4>
                                            <span class="text-dark">
                                                {{#if_eq {{encendido}}  false}}
                                                    <img class="small-image" src="images/circuloRojo.png">
                                                {{else}}
                                                    <img class="small-image" src="images/circuloVerde.png">
                                                {{/if_eq}}
                                            </span>
                                        </div>
                                        <div class="col-6">
                                            <span class="text-dark">{{i18n("Author")}}: {{username}}</span>

                                                {{#if_eq {{encendido}}  false}}
                                                    <span class="text-dark">{{i18n("Last modification")}}: {{encendidoHasta}}</span>
                                                {{else}}
                                                    span class="text-dark"><?= i18n("Time on") ?>: <?= $subscription->getSwitchs()->tiempoEncendido()?></span>
                                                {{/if_eq}}
                                            <form
                                                method="POST"
                                                action="index.php?controller=subscription&amp;action=delete"
                                                id="delete_subscription_{{publicId}}"
                                                style="display: inline">
                                                <input type="hidden" name="public_id" value="{{publicId}}">
                                                <a href="#"
                                                onclick="
                                                if (confirm('{{i18n("are you sure?")}}')) {
                                                    document.getElementById('delete_subscription_{{publicId}}').submit()
                                                }"
                                                class="btn btn-danger mt-2"><?= i18n("Delete") ?></a>
                                            </form>
                                        </div>
                                    </div>
                                </div>




 -->