<span>
    {{#if isLogged}}
        {{i18n 'Your are logged. Logout first'}}
    {{else}}
        {{#i18n}}{{loginError}}{{/i18n}}<br>
  
        <!-- Contenedor del formulario de inicio de sesión -->
        <div class="switch-add-container container mt-5">
            <form id="switchForm">
                <div class="mb-3">
                    <label for="nombre" class="form-label">{{i18n 'Name'}}:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre">
                </div>
                <div class="mb-3">
                    <label for="descripcion" class="form-label">{{i18n 'Description'}}:</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion">
                </div>
                <button type="button" class="btn btn-dark" id="savebutton">{{i18n 'Submit'}}</button>
            </form>
        </div>
        {{/if}}
</span>
