<div>
<h1>{{i18n 'Switchs'}}</h1>
<div id="switchs-table">
  {{#if posts.length}}
    <table border="1">
      <thead>
      <tr>
        <th>{{i18n 'Title'}}</th>
        <th>{{i18n 'Author'}}</th>
        <th>{{i18n 'Actions'}}</th>
      </tr>
      </thead>
      <tbody>
      {{#each switchs}}
        <tr fronty-component="SwitchRowComponent" key="{{publicid}}" model="switchs[{{@index}}]" publicidid="item-{{publicidid}}"></tr>
      {{/each}}
    </tbody>
    </table>
  {{/if}}
</div>
{{#if user.isLogged}}
  <a href='#add-switch'>{{i18n 'Add switch'}}</a>
{{/if}}
</div>
