
<body>
    <div class="container mt-3 text-dark">
        <h1 style="text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);" >{{i18n "Switch"}}: {{switch.nombre}}</h1>
        <em>{{i18n "by"}} {{switch.alias.username}}</em>
        <h2 style="text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);" >{{i18n "Description"}}:</h2>
        <p>{{switch.descripcion}}</p>
        
        {{#if (eq switch.encendido false)}}
            <div class="d-flex align-items-center">
                <img class="img-thumbnail mr-2" src="images/circuloRojo.png" style="width: 24px; height: 24px;">
                <span>{{i18n "Last modification"}}: {{switch.encendidoHasta}}</span>
            </div>
        {{else}}
            <div class="d-flex align-items-center">
                <img class="img-thumbnail mr-2" src="images/circuloVerde.png" style="width: 24px; height: 24px;">
                <span>{{i18n "Time on"}}: {{switch.tiempoEncendido}}</span>
            </div>
        {{/if}}
        
        {{#ifCond switch.publicId '===' (ternary public_id null)}}
            {{#unless currentUser}}
                <form method="POST" action="index.php?controller=subscription&amp;action=add" id="add_subscription_{{switch.publicId}}_{{switch.privateId}}" style="display: inline">
                    <input type="hidden" name="public_id" value="{{switch.publicId}}">
                    <input type="hidden" name="private_id" value="{{switch.privateId}}">
                    <button type="submit" class="btn btn-dark">{{i18n "Subscribe"}}</button>
                </form>
            {{/unless}}
        {{else ifCond switch.privateId '===' (ternary private_id null)}}
            <li class="switch-item" data-state="apagar">
                {{#if (eq switch.encendido false)}}
                    <form method="POST" action="index.php?controller=switchs&amp;action=edit" id="edit_switch_{{switch.publicId}}_{{switch.privateId}}" style="display: inline">
                        <input type="hidden" name="public_id" value="{{switch.publicId}}">
                        <input type="hidden" name="private_id" value="{{switch.privateId}}">
                        <input type="hidden" name="estado" value=1>
                        <div class="mb-3">
                            <label for="encendido_hasta">{{i18n "Time on"}}</label>
                            <input type="number" class="form-control" name="encendido_hasta" value="60" min="1" max="120">
                        </div>
                        <button type="submit" class="btn btn-success">{{i18n "Switch on"}}</button>
                    </form>
                {{else}}
                    <form method="POST" action="index.php?controller=switchs&amp;action=edit" id="edit_switch_{{switch.publicId}}_{{switch.privateId}}" style="display: inline">
                        <input type="hidden" name="public_id" value="{{switch.publicId}}">
                        <input type="hidden" name="private_id" value="{{switch.privateId}}">
                        <input type="hidden" name="encendido_hasta" value=0>
                        <input type="hidden" name="estado" value=0>
                        <button type="submit" class="btn btn-danger">{{i18n "Switch off"}}</button>
                    </form>
                {{/if}}
            </li>
        {{/ifCond}}
    </div>
</body>
</html>
