    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="switch-container rounded">
                    <h2 class="text-dark" style="text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);">
    {{i18n "My Switchs"}} <a href="#switchs-add"><button class="btn btn-dark"> +</button></a>
</h2>

                    
                    <div class="switch-list-container">
                        {{#each switchs}}
                            <div fronty-component="SwitchRowComponent" key="{{public_id}}" model="switchs[{{@index}}]" id="item-{{public_id}}"></div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subscription-container rounded">
                    <h2 class="text-dark" style="text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);">
                        {{i18n "My Subscriptions"}}</h2>
                    
                    <div class="switch-list-container">
                        {{#each subscriptions}}
                            <div fronty-component="SubscriptionRowComponent" key="{{public_id}}" model="switchs[{{@index}}]" id="item-{{publicid}}"></div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>