<tr key="{{id}}">
  <td><a href="#view-switch?id={{id}}">{{Nombre}}</a></td>
  <td>{{author_id}} ({{user.currentUser}})</td>
  <td>

    {{#if_eq user.currentUser author_id}}

      <button class="remove-button" item="{{publicid}}{{privateid}}">{{i18n 'remove'}}</button>
      <button class="edit-button" item="{{publicid}}{{privateid}}">{{i18n 'edit'}}</button>
    {{/if_eq}}
  </td>
</tr>
