<span>
  <body>
    <div class="container mt-3 text-dark">
      <h1 style="text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);" >{{i18n "Switch"}}: {{selectedSwitch.nombre}}</h1>
      <em>{{i18n "by"}} {{selectedSwitch.alias}}</em>
      <h2 style="text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);" >{{i18n "Description"}}:</h2>
      <p>{{selectedSwitch.descripcion}}</p>

      {{#if selectedSwitch.estado }}
        <div class="d-flex align-items-center">
          <img class="img-thumbnail mr-2" src="images/circuloVerde.png" style="width: 24px; height: 24px;">
          <span>{{i18n "Time on"}}: {{selectedSwitch.encendido_hasta}}</span>
        </div>
      {{else}}
        <div class="d-flex align-items-center">
          <img class="img-thumbnail mr-2" src="images/circuloRojo.png" style="width: 24px; height: 24px;">
          <span>{{i18n "Last modification"}}: {{selectedSwitch.tiempo_modificacion}}</span>
        </div>
      {{/if}}

      {{#if selectedSwitch.public_id}}
        {{#if user.currentUser}}
          <form method="POST" action="index.php?controller=subscription&amp;action=add" id="add_subscription_{{selectedSwitch.public_id}}_{{selectedSwitch.private_id}}" style="display: inline">
            <input type="hidden" name="public_id" value="{{selectedSwitch.public_id}}">
            <input type="hidden" name="private_id" value="{{selectedSwitch.private_id}}">
            <button type="submit" class="btn btn-dark">{{i18n "Subscribe"}}</button>
          </form>
        {{/if}}
      {{else}} 
        {{#if selectedSwitch.private_id}}
          
                {{#if selectedSwitch.estado}}
                  <input type="hidden" id="encendido_hasta{{selectedSwitch.private_id}}" name="encendido_hasta" value=0>
                  <input type="hidden" id="estado{{selectedSwitch.private_id}}" name="estado" value=0>
                  <button class="edit-button" item="{{selectedSwitch.private_id}}">{{i18n "Switch off"}}</button>
                {{else}}
                  <input type="hidden" id="estado{{selectedSwitch.private_id}}" name="estado" value=1>
                  <span class="text-dark">{{i18n "Time on"}}</span>
                  <input type="number" id="encendido_hasta{{selectedSwitch.private_id}}" name="encendido_hasta" value=60 min=1 max=120 class="timeon form-control mx-2">
                  <button class="edit-button" item="{{selectedSwitch.private_id}}">{{i18n "Switch on"}}</button>
                {{/if}}
              
        {{/if}}
      {{/if}}
    </div>
  </body>
</html>
</span>
